*.pyc
*~
doc/html
doc/xml
doc/screenshots
.coverage
tmp/
lib/
doc/static
static/qunit-1.18.0.css
static/qunit-1.18.0.js
static/qunit-reporter-junit.js
static/blanket.min.js
static/jquery.min.js
static/bootstrap.min.css
static/bootstrap.min.js
/PDAnchor
