{% extends "tmpl/page.html" %}

{% set title = 'jelszócsere' %}

{% set additionalJavascripts = ["js/passwordreset.js"] %}

{% set additionalCss = ["css/ada_acc.css"] %}

{% block contents %}
	<!-- content -->
	<div id="top" style="margin-top:50px"></div>
	<div class="wrapper">

{% include 'tmpl/message_box.html' %}

<!-- Email verification success -->
		<div class="func container" id="email_verification_section">
			<section class="container_">
				<h3 class="title">Az email címed igazolása</h3>
				<p id="email_verification_message"></p>
				<button id="email_verification_button" type="button">Ok</button>
			</section>
		</div>
<!-- End email verification success section -->

	</div><!-- End wrapper -->

{% endblock %}