{% extends "tmpl/page.html" %}

{% set title = 'jelszócsere' %}

{% set additionalJavascripts = ["js/passwordreset.js"] %}

{% set additionalCss = ["css/ada_acc.css"] %}

{% block contents %}
	<!-- content -->
	<div id="top" style="margin-top:50px"></div>
	<div class="wrapper">

{% include 'tmpl/message_box.html' %}

<!-- Password reset -->
		<div class="func container" id="password_reset_section">
			<section class="container_">
				<h3 class="title">Új jelszó megadása</h3>
			</section>
			<section class="container_ form">
				<form id="PasswordResetForm">
					<fieldset>
						<input type="text" class="disabled" id="PasswordResetForm_secret_input" style="display:none;">
						<label for="PasswordResetForm_password_input">Új jelszó:</label>
						<input type="password" placeholder="Jelszó" id="PasswordResetForm_password_input">
						<button id="PasswordResetForm_OnLoginTab_submitButton" type="submit">Jelszó mentése</button>
					</fieldset>
				</form>
			</section>
		</div>
<!-- End password reset section -->

	</div><!-- End wrapper -->

{% endblock %}