*, *:after, *:before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    color: #606c76;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}
pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px 1em;
}
pre {
    background: #f4f5f6;
    border-left: .3rem solid #4D7ACA;
    font-family: "Menlo","Consolas","Bitstream Vera Sans Mono","DejaVu Sans Mono","Monaco",monospace;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
    margin-bottom: 2.5rem;
}
input, textarea, select, fieldset {
    margin-bottom: 1.5rem;
}
fieldset {
    border-width: 0;
    padding: 0;
}
label, legend {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    margin-bottom: .5rem;
}
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    background-color: transparent;
    border: .1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    height: 3.8rem;
    padding: .6rem 1rem;
    width: 100%;
}
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #EE3B24;
    border: .1rem solid #EE3B24;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.button:hover, button:hover, input[type='button']:hover, input[type='reset']:hover, input[type='submit']:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
}
.button:active, button:active, input[type='button']:active, input[type='reset']:active, input[type='submit']:active {
    background-color: #707c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
	padding-top:1px
}
.wrapper {
	top: 50px;
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}
.container {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0;
	max-width: 100.0rem;
}
.form {
	max-width: 50.0rem;
}		

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 0;
}
h1 {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
	text-align: center;
}
h3 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    line-height: 1.3;
}
p {
    margin-top: 0;
}
.label-inline {
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
}
pre {
 min-height:5rem;
     line-height: 100%;
    word-wrap: break-word;
    white-space: pre-line;
 }
.waiting {
    background-image: url("waiting.gif");
    background-repeat: no-repeat;
    background-position: center;
	min-height: 150px;
	}
.monitor {
    min-width: 100px;
    background-color: #F9F6E9;
    border-radius: 5px;
    display: inline-block;
    float: right;
    padding: 10px 15px;
    font-size: small;
}
#message{
display:none;
width: 100%;
height: 5rem;
border-radius:5px;
border: 1px solid red;
padding:1rem;
color: red;
font-weight:700;
margin-top:2rem;
text-align: center;
}
@media (min-width: 40rem){
h1 {
    font-size: 5rem;
}
h3 {
    font-size: 3.6rem;
}}
#heading {
margin-top: 100px;
}
ul.disced {
    list-style-type: disc;
	margin-left: 50px;
}

.feature_title {
	width: 60%;
}

.account-tabber {
	margin-left:25px;
}

@media (max-width: 767px){
.feature_title {
    width: 75%;
    font-size: 30px;
}
.account-tabber {
	margin-left:0px;
}
}
#assurers_table ul{
	margin-bottom:0px;
}
@media (max-width: 320px){
	.navbar-fixed-top {
		position: relative;
	}
	.navbar-toggle {
		position: top;
		right: 0
	}
}
