.wrapper {
	top: 100px;
}

#footer {
    margin-top: 120px;
}
button.social {
    font-size: 3rem;
    height: 3.8rem;
	padding:0;
	margin: 1rem 0;
	width:5rem;
}
button.social:active {
	padding-top:0}

div.func{
	display:none;
}
span.form-icon_ {
	width: auto;
    position: absolute;
    right: 10px;
    color: #DDD;
    top: 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
th:first-child, td:first-child {
    padding-left: 0;
}

th, td {
    border-bottom: .1rem solid #e1e1e1;
    padding: 0.5rem 1.5rem;
    text-align: left;
}

.main-tab-content .c-tab a.btn {
	background-color: #EE3B24;
    border: 1px solid #EE3B24;
	color: #fff;
}

.main-tab-content .c-tab a.btn:hover {
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
}

.main-tab-content .c-tab a.btn_ {
	background-color: transparent;
    border: 1px solid #EE3B24;
	color: #EE3B24;
	width:40px;
}

.main-tab-content .c-tab a.btn_:hover {
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	width:40px;
}

table.multiheader th{
    background-color: #F4F5F6;
    padding-left: 59px;
}

#registration-form-method-selector button.active{
	background-color:black;
}
#code-generation-input, #change-hash-form_code-generation-input, #change-email_form{
	display: none;
}
.bordered {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: #FFFEF8;
}

.bordered input {
background-color: #fff}

@media (min-width: 40rem){
h1 {
    font-size: 5rem;
}
h3 {
    font-size: 3.6rem;
}}

div.monitor {
    float: right;
    font-size: 1.3rem;
    background-color: #F5EFEF;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    word-wrap: break-word;
}
pre.credential-item {
    word-wrap: break-word;
    white-space: pre-line;
    border: none;
    background: transparent;
    margin: 0px;
    padding: 0;
}
ul.disced {
    list-style-type: disc;
	margin-left: 50px;
}
#assurance-giving_message{
	width:100%;
	border-radius:5px;
	margin-top:15px;
	padding: 5px;
	text-align: center;
}
#assurance-giving_message.missing{
	color: red;
	border: 1px solid red;
}
#assurance-giving_message.given{
	color: darkgreen;
	border: 1px solid darkgreen;
}
td.button-container, td.button-container {
    width: 10%;
    min-width: 12rem;
}
.waiting {
    background-image: url("waiting.gif");
    background-repeat: no-repeat;
    background-position: center;
	min-height: 150px;
	}

button.inactive, .main-tab-content .c-tab a.inactive, .main-tab-content .c-tab a.inactive:hover{
	cursor: default;
	background-color: #E8E4E3;
    border: .1rem solid #D8CCCB;
}
.main-tab-content .c-tab a.inactive, .main-tab-content .c-tab a.inactive:hover{
	color: #D8CCCB;
}
.ada_tab_panel {
	margin-left: -25px;
}
#me_Applications table{
	font-size: 13px;
}
@media (max-width: 767px){
.ada_tab_panel {
	text-align: center;
	margin-left: 0px;
}
.main-tab-list li {
	width: 100px;
	padding: 0px;
}
.main-tab-list li a h4 {
	font-size: 11px;
	margin-bottom: 0;
}
ul.main-tab-list {
	display: inline-block;
}
.c-tab table, #me_Applications table{
	font-size: 12px;
}
button.social {
	line-height: 1rem;
    font-size: 1.5rem;
    height: 2.5rem;
	margin: 0;
	width:4rem;
}
}