{% extends "base.html" %}

{% block content %}
  <h1>Log In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          username:<br>
          {{ form.username(size=80) }}<br>
          userrname:<br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          password:<br>
          {{ form.password(size=80) }}<br>
          passsword:<br>
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Log In"></p>
  </form>
{% endblock %}